@font-face {
  font-family: 'FranklinGothic-ExtraCond';
  src: url('../fonts/FranklinGothic-ExtraCond.eot?') format('eot'),
    url('../fonts/FranklinGothic-ExtraCond.otf') format('otf'),
    url('../fonts/FranklinGothic-ExtraCond.ttf') format('truetype');
}
@font-face {
  font-family: 'ITCFranklinGothicStd-DmCp';
  src: url('../fonts/ITCFranklinGothicStd-DmCp.eot?') format('eot'),
    url('../fonts/ITCFranklinGothicStd-DmCp.otf') format('otf'),
    url('../fonts/ITCFranklinGothicStd-DmCp.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color:#fff;
  background: #000 url(../images/bg.jpg) no-repeat center 0;
  background-attachment:fixed;
}

#wrapper {
  background: url('../images/specs.png');
  background-attachment: fixed;
  overflow: hidden;
}
.page {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

a:link,
a:visited {
  color:#fff;
  text-decoration: none;
}
a:hover {
  color:#eebd78;
}
a:active, a.active { 
}


h1, h2, h3, h4, h5, h6 {
  margin:0;
  padding:0;
}


/** common **/
.page-wrapper h1 {
  font-family: "FranklinGothic-ExtraCond";
  font-size: 50px;
  color:#000;
  background: url(../images/sprite_main.png) no-repeat 0 -197px;
  width:470px;
  height:91px;
  line-height: 100px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  position:relative;
  top: -45px;
  z-index: 5;
}
.page-wrapper.alt h1 {
  background-position: 0 -288px;
  color:#fff;
}

.page-wrapper header {
  height: 50px;
}

h2 {
  font-family: "ITCFranklinGothicStd-DmCp";
  font-size: 32px;
  color:#EEBD78;
  text-transform: uppercase;
}

#gotop {
  display:block;
  position: fixed;
  right:50px;
  bottom: 50px;
  width:70px;
  height:70px;
  background: url(../images/subir.png) no-repeat 0 0;
  z-index: 50;
}

/** homepage **/
#home {
  background: url(../images/page1_shadows.png) no-repeat center center;
  padding-bottom: 30px;
}
#home #guitar1 {
  margin:-118px -86px 0 -72px;
  float:left;
}
#home h1 {
  background: url(../images/logo.png) no-repeat 0 0;
  width:499px;
  height:349px;
  text-indent: -999em;
  margin: 170px 0 56px;
}
#home .col {
  float:left;
  width: 520px;
}

#home nav {
  font-family: "FranklinGothic-ExtraCond";
  letter-spacing: .01em;
}
#home nav ul {
  list-style: none;
  list-style-image: none;
  font-size: 22px;
  text-transform: uppercase;
  padding: 40px 0 0;
  margin:0 0 0 8px;
}
#home nav ul li {
  padding:0;
  margin:0;
  display: inline;
  padding-right: 14px;
  text-shadow: 5px 5px 5px #000;
  filter: dropshadow(color=#000, offx=5, offy=5);
}
#home #social-btns label {
  font-family: "FranklinGothic-ExtraCond";
  font-size: 25px;
  text-transform: uppercase;
  line-height:34px;
  float:left;
  display:block;
}
#home #social-btns a {
  display:block;
  float:left;
  width:26px;
  height:26px;
  background: url(../images/sprite_main.png) no-repeat 0 0;
  text-indent: -999em;
  margin-left: 10px;
}
#home #social-btns a.fb{
  background-position: -15px -14px;
}
#home #social-btns a.tw{
  background-position: -58px -14px;
}

#home #social-btns a.yt{
  background-position: -100px -14px;
}
#home #social-btns a.fd{
  background-position: -142px -14px;
}



/** caracteristicas **/
#caracteristicas {
  background: rgba(0,0,0,.7) url('../images/specs.png');
  background-attachment: fixed;
  padding-bottom: 180px;
}
#caracteristicas #guitar2 {
  float:left;
  margin: -100px -60px 0 0;
}
#caracteristicas .main {
  float:left;
  width:665px;
  text-align:center;
}
#caracteristicas .main .bajada {
  font-size:16px;
  line-height:25px;
  
}

#caracteristicas .main article {
  float:left;
  width:280px;
  height:250px;
  margin: 0 20px 0 15px;
}

#caracteristicas .main article.even {
  margin: 0 15px 0 20px;
}
#caracteristicas .main article h2 {
  margin-top:4px;
}
#caracteristicas .main article p {
  margin: 10px 0 0 ;
}
#caracteristicas #kurt1 {
  position:absolute;
  right:-120px;
  top:0;
}


/** galeria **/
#galeria {
  background: rgba(0,0,0,.7) url('../images/specs.png');
  background-attachment: fixed;
  padding-bottom: 180px;
}

.gallery,
.galeria-container {
  position:relative;
  top: -20px;
  z-index: 0;
}
.controls {
  position: absolute;
  top:300px;
  left:0;
  width:100%;
}
.controls > a {
  background: url(../images/sprite_main.png) no-repeat -14px -120px;
  float:left;
  width:39px;
  display: block;
  height: 62px;
  text-indent: -999em;
  margin: 0 0 0 50px;
}
.controls .next {
  background-position: -62px -120px;
  float:right;
  margin: 0 50px 0 0;
}
.gallery .stage,
#galeria-slider {
  width: 975px;
  margin: 0 auto;
  text-align: center;
}
.gallery .stage img {
  -webkit-box-shadow:  0px 0px 20px 0px rgba(0, 0, 0, 1);
  box-shadow:  0px 0px 20px 0px rgba(0, 0, 0, 1);
}
.gallery .thumbs,
#galeria-nav{
  height:106px;
  width:983px;
  margin: 0 auto;
  padding:10px 0 0 8px;
}
.gallery .thumbs .thumb,
#galeria-nav li {
  float:left;
  padding-top: 8px;
  list-style:none;
  margin:0;
  margin-right: 8px;
}
.gallery .thumbs .last {
  margin-right: 0px;
}
.gallery .thumbs .thumb img,
#galeria-nav li img {
  filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome & Safari 6+ */
  display:block;
  border:5px solid #444444;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
}
.gallery .thumbs .thumb img:hover,
#galeria-nav li img:hover  {
  border-color: #D9D9D9;
  filter: inherit; /* Firefox 3.5+ */
  filter: inherit; /* IE6-9 */
  -webkit-filter: inherit; /* Google Chrome & Safari 6+ */
}
.gallery .thumbs .selected,
#galeria-nav li.activeSlide
{
  background: url(../images/diamond.png) no-repeat center top;
}
.gallery .thumbs .selected img,
#galeria-nav li.activeSlide img {
  border-color: #D9D9D9;
  filter: inherit; /* Firefox 3.5+ */
  filter: inherit; /* IE6-9 */
  -webkit-filter: inherit; /* Google Chrome & Safari 6+ */
}

/** especificaciones **/
#especificaciones {
  background: rgba(0,0,0,.7) url('../images/specs.png');
  background-attachment: fixed;
  padding-bottom: 180px;
  height:550px;
  position:relative;
}
#guitar3 {
  position:absolute;
  left:-20px;
  top:0;
  z-index: 10;
}
#especificaciones figure {
  position:absolute;
  right: 25px;
  bottom: -70px;
  z-index: 10;
  width: 274px;
}
#especificaciones figure figcaption {
  font-style: italic;
  margin: 0 0 10px 62px;
}
#especificaciones #tabs {
  width: 700px;
  margin: 50px auto 0;
}
#especificaciones #tabs > ul {
  overflow:hidden;
  border-bottom: 1px solid #888;
  padding-left: 145px;
  margin-bottom:0;
  font-weight: bold;
  position:relative;
  z-index: 15;
}
#especificaciones #tabs .tab {
height: 370px;
}
#especificaciones #tabs .ui-tabs-selected a:link,
#especificaciones #tabs .ui-tabs-selected a:visited {
  color:#EEBD78;
}
#especificaciones #tabs li a {
  padding: 5px 15px !important;
}
#especificaciones .ui-tabs .ui-tabs-panel {
  background: rgba(256,256,256,.1);
  padding:10px 0;
}
#especificaciones #tabs table {
  width:100%;
  font-size: 13px;
}
#especificaciones tbody {
  border: none;
  
}
#especificaciones tbody td {
  padding: 3px 5px;
}

#especificaciones tbody tr.odd {
  background-color:rgba(0,0,0,.1);
}
#especificaciones #tabs table ul {
  list-style: none;
  padding:0;
  margin:0;
}

#especificaciones .specs_desc {
  font-weight:normal;
}
#especificaciones .specs_name {
  padding-right: 15px;
  padding-left: 20px;
  text-align: right;
}
.especs-close {
  overflow: hidden;
  height:13px;
}
.especs-close div {
  height: 50px;
  margin-top: -43px;
  background: rgba(256, 256, 256, .1);
  -moz-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(-1deg);
  -webkit-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(-1deg);
  -o-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(-1deg);
  -ms-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(-1deg);
  transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(-1deg);
}
/** artistas **/
#artistas {
  color: #000;
  background: #fff url('../images/specs.png');
  padding-bottom: 180px;
  -webkit-box-shadow:  0px 0px 20px 0px rgba(0, 0, 0, 1);
  box-shadow:  0px 0px 20px 0px rgba(0, 0, 0, 1);
}
#artistas .controls {
  top: 60px;
  z-index: 99;
}
#artistas .controls > a {
  background-position: -14px -50px;
}
#artistas .controls .next {
  background-position: -62px -50px;
}
#artistas .artist header {
  width: 820px;
  margin: 20px auto 40px;
  height: 40px;
}
#artistas .artist header h2 {
  color: #000;
  float:left;
  border-right: 2px solid #000;
  padding-right: 20px;
  margin-right: 20px;
  height:40px;
  line-height:47px;
}
#artistas .artist-gallery {
  width:1112px;
  margin: 0 auto;
}
#artistas .artist-gallery figure {
  float:left;
  margin:0 20px 0 0;
  -webkit-box-shadow:  5px 5px 10px 0px rgba(0, 0, 0, 0.5);
  box-shadow:  5px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
#artistas .artist-gallery figure img {
  display: block;
}
#artistas .artist-gallery figure.last {
  margin-right: 0;
}
#artists-carrousel {
  height: 575px;
  width: 1112px;
  margin: 0 auto;
}


/** contacto **/
#contacto header {
  height:80px;
}
#contacto {
  font-size: 12px;
  background: rgba(0,0,0,1) url('../images/specs.png');
  background-attachment: fixed;
  height: 250px;
}
#contacto menu {
  width:185px;
  margin: 10px 0 0 48px;
  padding:0;
  float:left;
}
#contacto menu ul {
  list-style: none;
  list-style-image: none;
  margin:0;
  padding:0;
}
#contacto menu ul li {
  list-style: none;
  list-style-image: none;
  margin:0;
  padding:0;
}
#contacto .social-shares{
  float:left;
  width:240px;
  margin-top: 10px;
}
#contacto .social-shares div {
  margin-bottom:15px;
}
#contacto .social-shares label {
  font-family: "FranklinGothic-ExtraCond";
  font-size: 25px;
  text-transform: uppercase;
  line-height:25px;
  display:block;
  float:left;
  margin-right: 10px;
}
#contacto .social-shares .share-fb,
#contacto .social-shares .share-tw {
  float:left;
  height:25px; 
  overflow:hidden;
  margin:0;
  width: 100px;
}
#contacto #form-contacto{
  float:left;
  width:725px;
}
#contacto #form-contacto p{
  margin:0 0 10px;
  width: 500px;
}
#contacto #form-contacto input#name,
#contacto #form-contacto input#email {
  float: left;
  clear: left;
  width: 182px;
  margin: 0 8px 8px 0;
  padding: 0 8px;
  height: 23px;
  line-height: 25px;
  border:1px solid #fff;
  color: #999;
}
#contacto #form-contacto textarea {
  width: 387px;
  height: 46px;
  border:1px solid #fff;
  padding: 5px 8px;
  color: #999;
}
#contacto #form-contacto #submit {
  width: 39px;
  height: 62px;
  background: url(../images/sprite_main.png) no-repeat -62px -120px;
  text-indent: -999em;
  display: inline-block;
  margin: 0 0 0 8px;
}

/** legales **/
#legales p {
  margin:10px;
  font-size: 12px;
}
#legales p.left {
  float: left;
}
#legales p.right {
  float: right;
}




#mobile {
  display:none;
}